cloudflare_r2.json

# Temporary files
*__pycache__/
.DS_Store


*.txt

fire-arrival/*
fire-danger/*
pre-fire-priority/*
fire-severity-predictor/*
burned-area/*
active-fire-priority/*
soil-moisture/*
orbits/*
planner/*
dshield-demo-configuration/*
dshield-demo-bucket/*
orbits-actual/*
helper_scripts/output/*
daily_fire_perimeters/*